<body class="pagina">
    <img src="assets/logovet.jpg" alt="Logo" class="logo">

<div class="title">
    <h1 class="Ver"> CARTILLA CLÍNICA VETERINARIA</h1>
</div>

<app-progress *ngIf="loading"> </app-progress>

<div class ="container" *ngIf="mascota != null">
    <div class="card">
    <mat-card>
        <mat-card-title class="Titulo">{{ mascota.nombre }}</mat-card-title>
        <mat-card-content class="Datos">
            <p><strong> Raza:</strong> {{ mascota.raza }}</p>
            <p><strong> Color:</strong> {{ mascota.color }}</p>
            <p><strong> Peso:</strong> {{ mascota.peso }} kg</p>
            <p><strong> Edad:</strong> {{ mascota.edad }} años</p>
        </mat-card-content>
        
    </mat-card>
    <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/listadoMascotas" class="Volver">Volver</button>
    </mat-card-actions>
    </div>
    
    <div class = "container2">
        <div class="completar">
            <form [formGroup]="formHist" (ngSubmit)="agregarHistoria()">
                <mat-grid-list cols="3" rowHeight="80px">
                    <mat-grid-tile>
                        <mat-form-field appearance="outline">
                            <mat-label>Fecha</mat-label>
                            <input matInput placeholder="Fecha" autocomplete="off" formControlName="fecha" readonly>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="outline">
                            <mat-label>Veterinario</mat-label>
                            <input matInput placeholder="Veterinario" autocomplete="off" formControlName="veterinario">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field appearance="outline">
                            <mat-label>Historia clínica</mat-label>
                            <input matInput placeholder="Historia clínica" autocomplete="off" formControlName="detalle">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="3">
                        <button mat-raised-button color="primary" class="Aceptar" type="submit" [disabled]="formHist.invalid">Agregar</button>
                    </mat-grid-tile>
                </mat-grid-list>
        
            </form>
        </div>

    <div class = "card2">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha | date: 'yyyy-MM-dd HH:mm'}} </td>
        </ng-container>

        <ng-container matColumnDef="veterinario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Veterinario </th>
            <td mat-cell *matCellDef="let element"> {{element.veterinario}} </td>
        </ng-container>

        <ng-container matColumnDef="detalle">
            <th mat-header-cell *matHeaderCellDef> Detalle </th>
            <td mat-cell *matCellDef="let element"> {{element.detalle}} </td>
        </ng-container>
       
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
</div>
