  .pagina {
    font-family: 'Arial', sans-serif;
    background-color: #251b2e;
    margin: 0;
    padding: 0;
  }  
  
  .logo {
    width: 100%;
    height: auto;
    max-width: 900px; 
    display: block;
    margin: auto; 
  }
  
  .title {
    text-align: center;
    margin-top: 80px;
    color:#9370DB; 
    background-color: #251b2e;
    font-size: 40px;
  }
  
  /* Estilo del contenedor principal */
  .container {
    margin-top: -135px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta según tus necesidades */
  }
  
  .card {
    width: 80%;
    max-width: 1000px; 
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
  }

  .Login {
    font-size: 35px;
    color: #251b2e;
    margin-bottom: 20px;
  }
  
  .Usuario {
   margin-bottom: 10px;
   width: 60%;
  }

  .Contraseña {
    margin-bottom: 10px;
    width: 60%;
   }

  button {
    width: 50%;
    margin-top: 10px;
    font-size: 20px;
    color: #251b2e;
  }

  