.pagina {
    font-family: 'Arial', sans-serif;
    background-color: #251b2e;
    margin: 0;
    padding: 0;
  }  
  
  .logo {
    width: 100%;
    height: auto;
    max-width: 900px; 
    display: block;
    margin: auto; 
    box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.1);
  }

  .Agregado {
    text-align: center;
    margin-top: 30px;
    color:#9370DB; 
    background-color: #251b2e;
    font-size: 30px;
    text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
  }

  table {
    width: 100%;
    box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.1);
}

.card{
    margin-top: 10px;
    text-align: center;
}

.mat-folrm-field{
    width: 100%;
    margin: 5px;
}

.btnAceptar{
    margin-left: 50px;
}