.pagina {
    font-family: 'Arial', sans-serif;
    min-height: 130vh;
    background-color: #251b2e;
    margin: 0;
    padding: 0;
  }  
  
  .logo {
    width: 100%;
    height: auto;
    max-width: 900px; 
    display: block;
    margin: auto; 
    box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.1);
  }

  .listado {
    text-align: center;
    margin-top: 30px;
    color:#9370DB; 
    background-color: #251b2e;
    font-size: 40px;
    text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
  }
  

table {
    width: 100%;
    box-shadow: 12px 12px 4px rgba(0, 0, 0, 0.1);
}

td{
    width: 20%;
    text-align: center;
}

th {
    width: 20%;
    text-align: center;
    font-size: 25px;
}

mat-form-field {
    font-size: 14px;
    width: 100%;
}

.search {
    cursor: pointer;
}

.edit {
    cursor: pointer;
    color: #622fe4
}

.delete {
    cursor: pointer;
    color: #e4593e
}

.agregar {
    font-size: 15px;
    line-height: 22px;
    width: 120px;
    height: 50px;
    margin-right: -25px;
    margin-top: 0px;
}

button {
    width: 50%;
    margin: auto;
    margin-top: 30px;
    font-size: 20px;
    color: #251b2e;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.397);
    display: flex;
    justify-self: center;
  }

  .Salir {
    width: 10%;
    margin-top: -670px;
    margin-right: 70px;
    font-size: 20px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.397);
    }
