<body class="pagina">
    <img src="assets/logovet.jpg" alt="Logo" class="logo">

    <div>
        <h1 class="title"> ¡Bienvenido a NET Veterinaria! </h1>
    </div>

    <div class="container">
        <mat-card class="card">
            <mat-card-title class="Menu">Seleccione el menú</mat-card-title>
            <div>
                <button class="Mascotas" mat-raised-button color="primary"
                    routerLink="/listadoMascotas">Mascotas</button>
                <button class="Usuarios" mat-raised-button color="primary"
                    routerLink="/listadoUsuarios">Usuarios</button>
            </div>

    <button class="Salir" mat-raised-button color="primary" type="button" (click)="logout()">Salir</button>

